
// abstracts
@use './layout/header';
@import './abstracts/variables'; // ყურადღება მიაქციე, რომ ფაილს "variebles" გიწერია
@import './abstracts/mixins';

// base
@import './base/reset';
@import './base/base';

// layout
@import './layout/header';
@import './layout/cards';
@import './layout/footer';
@import './layout/review';


