* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

button {
  border: none;
  background: none;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: rgb(255, 255, 255);
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  color: #000000;
  transition: background-color 0.3s ease, color 0.3s ease;
  padding: 2rem;
}

header:has(.burger-menu:checked) .burger {
  display: flex;
  flex-direction: column;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.burger-menu {
  display: none;
}

.burger-menu-button img:hover {
  cursor: pointer;
}

body:has(.theme-toggle:checked) {
  background-color: #1E2A39;
  color: #f5f5f5;
}
body:has(.theme-toggle:checked) button {
  background-color: #444444;
}

.theme-toggle {
  display: none;
}

.toggle-button img:hover {
  cursor: pointer;
}

.white ul {
  display: flex;
  justify-content: space-around;
}
.white ul li:first-child {
  margin-right: 11.9rem;
}

.dark ul {
  display: flex;
  justify-content: space-around;
}
.dark ul li:first-child {
  margin-right: 11.9rem;
}

.dark {
  display: none;
}

.theme-toggle:checked ~ .dark {
  display: block;
}

.theme-toggle:checked ~ .white {
  display: none;
}

.burger-menu:checked ~ .dark {
  display: block;
}

.burger-menu:checked ~ .white {
  display: none;
}

.burger ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.5rem;
  font-size: 1.6rem;
  margin-bottom: 3.5rem;
  margin-top: 3.5rem;
}
.burger ul li a {
  color: #000000;
}

.butons {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.butons .singin {
  border: none;
  background-color: none;
  margin-bottom: 3rem;
  font-size: 1.6rem;
  font-weight: 400;
}
.butons .subscribe {
  background-color: black;
  color: #f5f5f5;
  border-radius: 0.8rem;
  width: 15.3rem;
  height: 5.3rem;
  font-size: 1.6rem;
  font-weight: 600;
}

.burger {
  display: none;
}

body:has(.theme-toggle:checked) .burger ul li a {
  color: #f5f5f5;
}
body:has(.theme-toggle:checked) .singin {
  border: none;
  color: #f5f5f5;
  background-color: #1E2A39;
  transition: background-color 0.3s ease, color 0.3s ease;
}
body:has(.theme-toggle:checked) .subscribe {
  background-color: #ffffff;
  color: #000000;
}
body:has(.theme-toggle:checked) body {
  color: #f5f5f5;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.6rem;
  row-gap: 1.5rem;
  margin-top: 3.5rem;
  color: #183B56;
}
.content p {
  width: 27.2rem;
  text-align: center;
}
.content .button-container {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}
.content .button {
  height: 3.7rem;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 2rem;
}

.button-container button:last-child img {
  margin-right: 1.2rem;
}
.button-container button:last-child {
  background-color: #ffffff;
  color: #000000;
}

.img-container {
  display: flex;
  justify-content: center;
  margin-top: 3.5rem;
}
.img-container :first-child {
  z-index: -1;
}
.img-container :last-child {
  position: absolute;
  z-index: 1;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: rgb(255, 255, 255);
  box-sizing: border-box;
}

.top-footer {
  display: flex;
  flex-direction: column;
  width: 27.2rem;
  margin: 2.4rem auto;
  background-color: #E8DB84;
  padding: 2.4rem 1.3rem;
  border-radius: 1rem;
  align-items: center;
}
.top-footer h3 {
  font-size: 2.8rem;
  color: black;
  text-align: center;
  font-weight: 100;
}
.top-footer p {
  color: black;
  font-size: 1.6rem;
  text-align: center;
}
.top-footer .forms {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  margin-top: 1.6rem;
  gap: 1.2rem;
}
.top-footer input, .top-footer textarea {
  padding: 2rem 2.4rem;
  border: none;
  border-radius: 1rem;
  width: 100%;
  max-width: 43.2rem;
  cursor: pointer;
}
.top-footer textarea {
  height: 20.8rem;
}
.top-footer .button {
  background-color: #052A44;
  border-radius: 0.8rem;
  color: white;
  padding: 0.8rem 1.2rem;
  cursor: pointer;
}
.top-footer .button:hover {
  background-color: #286A98;
  transform: translateY(-3px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}
.top-footer .button {
  display: block;
  font-size: 1.6rem;
  font-weight: 600;
}

.bottom-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 2.4rem;
  margin-bottom: 1rem;
}
.bottom-footer h4 {
  font-size: 2rem;
}
.bottom-footer p {
  text-align: center;
  font-size: 1.6rem;
  color: #071210;
  text-decoration: none;
}
.bottom-footer .links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.bottom-footer .fb-logo, .bottom-footer .twitter-logo, .bottom-footer .insta-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.3rem;
  height: 3.3rem;
  border: 1px solid black;
  border-radius: 50%;
  padding: 1rem;
  cursor: pointer;
}
.bottom-footer .address {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 0.8rem;
}
.bottom-footer .social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 0.9rem;
}

.copyright {
  text-align: center;
  font-size: 1.2rem;
  border-top: 1px solid rgb(156, 156, 156);
  padding: 1rem 0;
  margin: 0 10rem;
}

@media (min-width: 768px) {
  .top-footer {
    border-radius: 2.9rem;
    width: 122rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2.4rem auto;
    padding: 6rem 2rem;
  }
  .top-footer h3 {
    font-size: 4.2rem;
    color: black;
    text-align: center;
    font-weight: 600;
    padding: 2rem;
  }
  .top-footer p {
    color: black;
    font-size: 1.8rem;
    text-align: center;
    padding: 0 9rem;
  }
  .top-footer .forms {
    display: grid;
    grid-template-columns: repeat(2, 43.2rem);
    row-gap: 2rem;
    justify-content: center;
  }
  .top-footer input {
    padding: 2rem 2.4rem;
    border: none;
    border-radius: 1rem;
    width: 43.2rem;
    height: 5.8rem;
  }
  .top-footer textarea {
    padding: 2rem 2.4rem;
    border: none;
    border-radius: 1rem;
    max-width: 100%;
    height: 20.8rem;
    grid-column: span 2;
  }
  .top-footer .button {
    width: 17.6rem;
  }
  .bottom-footer {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: row;
  }
  .bottom-footer h4 {
    font-weight: 100;
    font-size: 1.6rem;
  }
  .bottom-footer .address {
    text-align: center;
  }
  .bottom-footer .address h4 {
    font-weight: 500;
  }
  .copyright {
    text-align: center;
    font-size: 1.6rem;
    border-top: 1px solid rgb(156, 156, 156);
    padding: 1rem 0;
    margin: 0 10rem;
  }
}
html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: rgb(255, 255, 255);
  box-sizing: border-box;
}

.review {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;
  margin: 0 2.4rem;
}

.card-wrapper {
  gap: 2.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.customer-review {
  width: 28.2rem;
  background-color: white;
  padding: 2.5rem;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.6rem;
  padding: 21px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.4s ease;
}
.customer-review:hover {
  background-color: rgb(220, 220, 220);
  box-shadow: 0 0px 30px rgba(0, 0, 0, 0.3);
}

.review-heading {
  gap: 1.3rem;
}
.review-heading h3 {
  font-size: 2.8rem;
  color: #183B56;
  text-align: center;
}
.review-heading p {
  color: #5A7184;
  font-size: 1.6rem;
  text-align: center;
}

.user-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
}
.user-info img {
  width: 4.6rem;
  height: 4.6rem;
}
.user-info .name-job {
  display: flex;
  flex-direction: column;
}
.user-info .name {
  font-size: 1.2rem;
  font-weight: bold;
}
.user-info .job {
  font-size: 1rem;
}

.main-review {
  font-size: 1.2rem;
  color: #1a1a1a;
  text-align: center;
}

.button {
  background-color: #052A44;
  border-radius: 0.8rem;
  color: white;
  padding: 0.8rem 1.2rem;
  cursor: pointer;
}
.button:hover {
  background-color: #286A98;
  transform: translateY(-3px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}
.button {
  margin-top: 2.6rem;
  display: block;
}

.arrows {
  display: none;
}

@media (min-width: 768px) {
  .card-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 2rem;
    max-width: 1200px;
    margin: 0 10rem;
  }
  .customer-review {
    width: 40rem;
    height: 23rem;
  }
  .review-heading h3 {
    font-size: 4.2rem;
    font-weight: 600;
    color: #183B56;
    text-align: center;
  }
  .review-heading p {
    color: #5A7184;
    font-size: 1.8rem;
    text-align: center;
  }
  .user-info img {
    width: 7rem;
    height: 7rem;
  }
  .user-info .name {
    font-size: 1.8rem;
    font-weight: bold;
  }
  .user-info .job {
    font-size: 1.4rem;
  }
  .main-review {
    font-size: 1.6rem;
    color: #1a1a1a;
    text-align: center;
  }
  .button {
    display: none;
  }
  .arrows {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
    margin-top: 6rem;
  }
  .arrows .arrow {
    background-color: #052A44;
    border-radius: 0.8rem;
    color: white;
    padding: 0.8rem 1.2rem;
    cursor: pointer;
  }
  .arrows .arrow:hover {
    background-color: #286A98;
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
  }
  .arrows .arrow-left {
    background-color: transparent;
  }
}/*# sourceMappingURL=main.css.map */