@import '../base/base';
@import '../abstracts/variables';
@import '../abstracts/mixins';


// Styles for section- Contact Form

.top-footer {
    display: flex;
    flex-direction: column;
    width: 27.2rem;
    margin: 2.4rem auto;
    background-color: $yellow;
    padding: 2.4rem 1.3rem;
    border-radius: 1rem;
    align-items: center;
        h3 {
            font-size: 2.8rem;
            color: black;
            text-align: center;
            font-weight:100;
        }
        p {
            color: black;
            font-size: 1.6rem;
            text-align: center;
        }
    .forms {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        margin-top: 1.6rem;
        gap: 1.2rem;

    }
    input, textarea {
        padding: 2rem 2.4rem;
        border: none;
        border-radius: 1rem;
        width: 100%;
        max-width: 43.2rem;
        cursor: pointer;
    }
    textarea{
        height: 20.8rem;
    }
    .button{
        @include buttons;
        display: block;
        font-size: 1.6rem;
        font-weight: 600;
    }
}

// Styles for Contanct information

.bottom-footer {
    @include flex-center;
    flex-direction: column;
    row-gap: 2.4rem;
    margin-bottom: 1rem;
      h4{
        font-size: 2rem;
      }
      p{
        text-align: center;
        font-size: 1.6rem;
        color: $footer-text;
        text-decoration: none;
      }
    .links {
        @include flex-center;
        gap: 2rem;
    }
    .fb-logo, .twitter-logo, .insta-logo {
        @include flex-center;
        width: 3.3rem;
        height: 3.3rem;
        border: 1px solid black;
        border-radius: 50%;
        padding: 1rem;
        cursor: pointer;

    }
      .address{
        text-align: center;
        @include flex-center;
        flex-direction: column;
        row-gap: 0.8rem;
      }
      .social-media{
        @include flex-center;
        flex-direction: column;
        row-gap: 0.9rem;
    }
      
}
.copyright{
        text-align: center;
        font-size: 1.2rem;
        border-top: 1px solid rgb(156, 156, 156);
        padding: 1rem 0;
        margin: 0 10rem;
      }


    //   Styles for responsive design

@media (min-width: 768px) {

// Styles for section- Contact Form


    .top-footer {
        border-radius: 2.9rem;
        width: 122rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 2.4rem auto;
        padding: 6rem 2rem;
        h3 {
            font-size: 4.2rem;
            color: black;
            text-align: center;
            font-weight:600;
            padding: 2rem;
        }
        p {
            color: black;
            font-size: 1.8rem;
            text-align: center;
            padding: 0 9rem;
        }
        .forms {
            display: grid;
            grid-template-columns: repeat(2, 43.2rem);
            row-gap: 2rem;
            justify-content: center;

    }
        input {
            padding: 2rem 2.4rem;
            border: none;
            border-radius: 1rem;
            width: 43.2rem;
            height: 5.8rem;
        }
        textarea{
            padding: 2rem 2.4rem;
            border: none;
            border-radius: 1rem;
            max-width: 100%;
            height: 20.8rem;
            grid-column: span 2;
        }
        .button{
            width: 17.6rem;
        }

    }

    // Styles for Contanct information


    .bottom-footer {
        display: flex;
        align-items: flex-start;
        justify-content: space-around;
        flex-direction: row;
        h4{
            font-weight: 100;
            font-size: 1.6rem;
        }
        .address{
            text-align: center;
                h4 {
                    font-weight: 500;
                }
        }  
    }
    .copyright{
        text-align: center;
        font-size: 1.6rem;
        border-top: 1px solid rgb(156, 156, 156);
        padding: 1rem 0;
        margin: 0 10rem;
    }

        
    }

