@import '../base/base';
@import '../abstracts/variables';
@import '../abstracts/mixins';



.review {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.4rem;
    margin: 0 2.4rem;
}

.card-wrapper {
  gap: 2.2rem;
  @include flex-center;
  flex-direction: column;

}


.customer-review {
    width: 28.2rem;
    background-color: rgb(255, 255, 255);
    padding: 2.5rem;
    border-radius: 10px;
    @include flex-center;
    flex-direction: column;
    gap: 1.6rem;
    padding: 21px;
    box-shadow:$box-shadow;
}

.review-heading {
  gap: 1.3rem;
     h3 {
        font-size: 2.8rem;
        color: $text-color-blue;
        text-align: center;
     }
     p {
        color: $text-color-light-blue;
        font-size: 1.6rem;
        text-align: center;
     }
}

.user-info {
    @include flex-center;
    gap: 1.6rem;
      img{
        width: 4.6rem;
        height: 4.6rem;
      }
      .name-job {
        display: flex;
        flex-direction: column;
      }
      .name {
        font-size: 1.2rem;
        font-weight: bold;
      }
      .job {
        font-size: 1rem;
      }
}

.main-review {
    font-size: 1.2rem;
    color: #1a1a1a;
    text-align: center;
}

.button {
   @include buttons;
   margin-top: 2.6rem;
   display: block;
}
.arrows {
  display: none;
}

@media (min-width: 768px) {
  .card-wrapper {
    @include flex-center;
    flex-direction: row;
    gap: 2rem;
    max-width: 1200px;
    margin: 0 10rem;
  }
  .customer-review {
    width: 40rem;
    height: 23rem;
  }
  .review-heading {
     h3 {
        font-size:4.2rem;
        font-weight: 600;
        color: $text-color-blue;
        text-align: center;
     }
     p {
        color: $text-color-light-blue;
        font-size: 1.8rem;
        text-align: center;
     }
}
  .user-info {
    img {
      width: 7rem;
      height: 7rem;
    }
    .name {
      font-size: 1.8rem;
      font-weight: bold;
    }
    .job {
      font-size: 1.4rem;
    }
  }
  .main-review {
    font-size: 1.6rem;
    color: #1a1a1a;
    text-align: center;
}
  .button {
    display: none;
  }
  .arrows {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
    margin-top: 6rem;
      .arrow {
        @include buttons;
      }
      .arrow-left {
        background-color: transparent;
      }
  }


}





