@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin buttons {
    background-color: $blue;
    border-radius: 0.8rem;
    color: white;
    padding: 0.8rem 1.2rem;
    cursor: pointer;
}