@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin buttons {
    background-color: $blue;
    border-radius: 0.8rem;
    color: white;
    padding: 0.8rem 1.2rem;
    cursor: pointer;
      &:hover {
        background-color: #286A98;
        transform: translateY(-3px);
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); 
        transition: 0.5s;
    }
}
